<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:include filename="robot_gardener_core.xacro" />

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control_combined.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="pan_tilt_xacros/robot_pan_tilt.xacro" />
    
    <!-- <xacro:include filename="pan_tilt_xacros/ros2_control_pan_tilt.xacro" /> -->
    <!-- <xacro:include filename="camera.xacro" /> -->
    <!-- <xacro:include filename="xarm_xacros/xarm.xacro" /> -->
    <xacro:include filename="ros2_control_params.xacro" />
    

    <!-- <xacro:include filename="xarm.urdf"/> -->
    
    <!-- <xacro:include filename="depth_camera.xacro" /> -->

    <!-- <xacro:include filename="face.xacro" /> -->
    
</robot>