<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <!-- <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin"> -->
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <!-- Arm controllers -->
            <!-- <parameters>$(find autonomous_robot)/config/xarm_controllers.yaml</parameters> -->

            <!-- Chassis controllers -->
            <parameters>$(find autonomous_robot)/config/my_controllers.yaml</parameters>

            <!-- Common settings -->
            <parameters>$(find autonomous_robot)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>
</robot>