<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- <xacro:include filename="$(find autonomous_robot)/description/pan_tilt_xacros/pan_tilt.xacro"/> -->
  <xacro:include filename="$(find pan_tilt_description)/urdf/pan_tilt.xacro"/>



  <!-- Instantiate the pan-tilt mechanism -->
  <xacro:pan_tilt_mechanism parent="chassis">
    <origin xyz="${chassis_length/2-0.08+0.028} -${chassis_width/2-0.088+0.04} ${chassis_height}" rpy="0 0.0 0"/>
  </xacro:pan_tilt_mechanism>

  <xacro:include filename="$(find pan_tilt_description)/urdf/ros2_control_pan_tilt.xacro"/>

</robot>
